@media (min-width:576px) {

    // COMPONENTS

    .section{
        padding: 4em 0;
    }

    .section-heading,
    .section-heading-without-underline{
        font-size: 3.6rem;
    }

    .subsection-heading{
        font-size: 2.6rem;
    }
    
    .paragraph{
        &--normal{
            font-size: 2rem;
        }
        &--big{
            font-size: 2.4rem;
        }
    }
    
    // HEADER HERO

    .hero-text{
        h1{
            font-size: 4.8rem;
        }
    }

    // ABOUT

    .about{
        &__box{
            display: flex;
            flex-direction: row;
            &-element{
                width: 45%;
                height: 600px;
                &-text{
                    height: 175px;
                }
            }
        }
    }

    // INFO + ACCOMODATION

    .info{
        &__element{
            &-image{
                &--big{
                    display: block;
                }
                &--small{
                    display: none;
                }
            }
        }
    }
    
}